@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .footer_about{
    @apply hover:text-black cursor-pointer
  }

  .accordion_details{
    @apply text-[#a1a1a1] text-[8px] md:text-base text-center
  }

  .contact_input{
    @apply border-2 rounded-[20px] p-4 flex items-center mb-3 shadow-md
  }
}

.slick-dots li.slick-active button::before{
   background-color: #03C3DE !important;
   border:none;
}

.slick-dots li button::before{
  font-size: 100% !important;
  width: 14px !important;
  height: 14px !important;
  border: 0.578378px solid #2B4E8C;
  border-radius:50%
}

